{% include "hexcasting:index.css.jinja" %}

blockquote > h2 {
  font-size: 26px;
}

.bookofhexxy-mod-attribution {
  height: 10px;
}

.bookofhexxy-mod-attribution > small {
  position: absolute;
  margin-top: -14px;
}

{% include "mediatransport:mediatransport_shared.css.jinja" %}
